<!DOCTYPE html>
<html lang="sl-SI">
<head>
    <meta charset="UTF-8">
    <title>Pravilnik o zasebnosti</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link href="/assets/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>
<body>
<div id="app-2" class="terms-container">

    <div class="header">
        <div class="logo-wrapper">
            <a href="https://principle.network">
                <div class="logo">
                    <img src="/assets/svg/logo.svg">
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-md-center">
            <div class="col-lg-8 offset-lg-2">
                <div class="terms-text">
                    <div class="terms-back">
                        <a href="https://volitve.principle.network/">← Nazaj</a>
                    </div>
                    <p style="text-align: center"><strong>PRAVILNIK O ZASEBNOSTI</strong></p>
                    <p>“<strong>PRINCIPLE</strong>“,&nbsp;“<strong>Mi</strong>“, “<strong>Nas</strong>” ali “<strong>Naš</strong>“, “<strong>Naše</strong>” se nanaša na&nbsp;podjetje podjetja Navipro d.o.o., s sedežem na Dunajski cesti 21, Ljubljana, Slovenija.</p>
                    <p>Pravilnik o zasebnosti je del Splošnih pogojev o uporabi (“<strong>Splošni Pogoji</strong>“), ki urejajo uporabo vseh&nbsp;produktov znamke “PRINCIPLE”&nbsp;vključujoč&nbsp;spletne strani in/ali&nbsp;programske aplikacije (»<strong>Storitve</strong>«),&nbsp;ki lahko delujejo na vseh vrstah računalniških napravah (vključno z mobilnimi napravami) in velja za vašo uporabo&nbsp;Storitev.&nbsp;Spletna stran je na naslovu strani <a href="https://volitve.principle.network/">https://volitve.principle.network/</a>, ki ga lahko nadomestimo ali ki se lahko doda na seznam spletnih strani in vsebujejo povezavo na ta pravilnik o zasebnosti.</p>
                    <p>S strinjanjem s Splošnimi Pogoji in/ali uporabo&nbsp;Storitev, se zlasti strinjate z zbiranjem, uporabo in razkritjem vaših podatkov (vključno z osebnimi podatki), v skladu s tem pravilnikom o zasebnosti.&nbsp;Zbiramo in/ali zahtevamo lahko, da nam&nbsp;posredujete&nbsp;svoje podatke (vključno z osebnimi podatki) vsakič, ko ste v stiku z nami ali pa uporabljate&nbsp;Storitve. Ta politika zasebnosti in varovanja osebnih podatkov velja za vsakogar, ki se skladno s Splošnimi pogoji spletnega mesta <a href="https://www.principle.network/">https://www.principle.network/</a> šteje za uporabnika, ter za celotno spletno mesto, za vse njegove sestavne dele in podstrani.</p>
                    <p>Ta politika velja za uporabnika, ko prvič obišče spletno mesto in pri vseh kasnejših obiskih. Z uporabo spletnega mesta uporabnik potrjuje, da sprejema in se strinja z vsemi določbami te politike. Politika zasebnosti se lahko kadarkoli spremeni ali dopolni brez opozorila ali obvestila. Z uporabo spletnega mesta po spremembi te politike uporabnik potrjuje, da se strinja s spremembami.</p>
                    <p>Zelo resno jemljemo zasebnost naših uporabnikov in varnost podatkov ter verjamemo v pravico naših uporabnikov, da vedo, kateri podatki so zbrani in za kakšen namen.&nbsp;Prizadevamo si, da so naše dejavnosti pregledne in da našim uporabnikom omogočamo, da nadzorujejo zbrane podatke in jih odstranijo, če tako želijo. Sprejeli bomo vse ustrezne previdnostne ukrepe za preprečitev nepooblaščenega dostopa do teh podatkov.</p>
                    <p>Z uporabo katero od naših Storitev soglašate tudi z zbiranjem, prenosom, urejanjem, shranjevanjem, razkritjem in drugim načinom uporabe vaših podatkov, kot je opisano v tem pravilniku o zasebnosti. Ne glede na to, v kateri državi se nahajate, pooblaščate Principle za uporabo (prenos, shranjevanje) vaših podatkov, ki jih Principle shranjuje v Republiki Sloveniji, ali pa v drugih državah, kjer storitve tretjih oseb delujejo v imenu Principle.&nbsp;Zakonodaja o zasebnosti in varstvu podatkov v nekaterih od teh držav se lahko razlikuje od zakonov v vaši državi.</p>
                    <p>Ta politika velja za uporabnika, ko prvič obišče spletno mesto in pri vseh kasnejših obiskih. Z uporabo spletnega mesta uporabnik potrjuje, da sprejema in se strinja z vsemi določbami te politike. Politika zasebnosti se lahko kadarkoli spremeni ali dopolni brez opozorila ali obvestila. Z uporabo spletnega mesta po spremembi te politike uporabnik potrjuje, da se strinja s spremembami.</p>
                    <ol>
                        <li><strong>Zbrani podatki in za kaj se uporabljajo</strong></li>
                    </ol>
                    <p>Zbiramo lahko nekatere ali vse podatke, ki ste nam jih posredovali, skupaj s podatki o vaši uporabi Storitev, vendar bomo v prvi vrsti uporabili zbrane podatke, da vam omogočimo zadovoljivo uporabo Storitev in za izboljšanje vaše&nbsp;uporabniške izkušnje.<strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;1.1 Zbiranje podatkov o napravi in tehničnih informacij</strong></p>
                    <p>Zbiramo lahko podatke, potrebne za vašo uporabo naših Storitev, in podatke, ki omogočajo vzdrževanje in analizo delovanja in prilagajanje vsebine naših Storitev. Samodejno dobimo določene podatke o vaši računalniški napravi, vključno z naslovom IP; Kodo države;&nbsp; Časovnim pasom;&nbsp;časom začetka/ustavitve seje; IDFA, IDFV, jezikom; Stanjem omrežja (WiFi, itd.), Vrstami vtičnikov in različico brskalnika; platformo, različico SDK, časovnim žigom; Tehničnimi podatki o napravah (npr. Model in ime naprave, ime operacijskega sistema in različica, podatki o procesorju, velikost pomnilnika, velikost zaslona, programska oprema, mobilni operater, ponudnik internetnih storitev, identifikator ključa API za aplikacijo, mednarodna identiteta mobilne opreme (IMEI) v Androidu, Android ID, serijski številki Android); Čeprav nekatere od teh informacij (na primer IDFA, IDFV, Android ID, IP-naslov) lahko edinstveno identificirajo vašo napravo, te informacije vas osebno ne identificirajo.&nbsp;Nekatere zakonodaje lahko obravnavajo informacije, ki vašo napravo enotno opredeljujejo, kot osebne podatke. Za razliko od piškotkov, podatkov, ki vašo napravo enotno opredeljujejo, ni mogoče izbrisati, vendar pa lahko identifikatorje za oglaševanje nastavite v nastavitvah v svojih mobilnih napravah. Oglaševalska podjetja uporabljajo tudi identifikatorje naprav ali oglaševalske identifikatorje, za spremljanje vaše uporabe Storitev, za sledenje številu prikazanih oglasov, za merjenje uspešnost oglasov in prikazovanje oglasov, ki so bolj ustrezni za vas.&nbsp;Podjetja, ki se ukvarjajo z analizo uporabljajo identifikatorje naprav za sledenje informacij o uporabi Storitev.</p>
                    <ul>
                        <li><strong>Zbiranje osebnih podatkov</strong></li>
                    </ul>
                    <p>Zbiramo vaše osebne&nbsp;podatke kot so elektronski naslov, telefonska številka, ethereum naslov prav tako lahko zbiramo osebne&nbsp;podatke kot so vaše ime in priimek, kraj bivanja, morebitne druge podatke, ki jih uporabnik sam prostovoljno posreduje družbi.</p>
                    <p>Vsak uporabnik spletnega mesta <a href="https://www.principle.network/">https://www.principle.network/</a>, ki na našem spletnem mestu opravi vnos osebnih podatkov, daje tudi aktivno osebno privolitev za obdelavo osebnih podatkov na podlagi posebnega obrazca, ki ga odda skupaj s poslanim povpraševanjem/naročilom/prijavo na e-novice/registracijo/uporabo Storitev.</p>
                    <p>S posredovanjem občutljivih podatkov soglašate z Našim zbiranjem, uporabo in razkrivanjem občutljivih podatkov, kot to dovoljuje veljavna zakonodaja o varstvu osebnih podatkov.&nbsp;Vaše podatke o geolokaciji lahko zberemo z vašim soglasjem.&nbsp;Te informacije lahko zbiramo prek spletne strani, aplikacije ali drugih Storitev.&nbsp;Z uporabo Storitev nam dovoljujete, da zbiramo, razčlenjujemo in hranimo podatke, povezane z zagotavljanjem Storitev.&nbsp;Ko posredujete osebne podatke prek naše Storitve, se lahko informacije posredujejo strežnikom v državah po vsem svetu.</p>
                    <p>Stranka oz. uporabnik spletnega mesta s klikom na gumb »Strinjam se splošnimi pogoji o uporabi in s politiko zasebnosti« potrjuje, da je bila pred registracijo pisno ustrezno seznanjen z obsegom in namenom obdelave osebnih podatkov iz prejšnjega odstavka.</p>
                    <p>Uporabili bomo samo kontaktne podatke, ki nam jih posredujete (na primer vaše ime in e-poštni naslov ter telefonsko številko) za namen, ki ste ga nam ga posredovali.&nbsp;Teh podatkov ne bomo posredovali tretjim osebam.</p>
                    <p>Če želite izbrisati vaše kontaktne podatke, ki smo jih prejeli na podlagi vašega posebnega povpraševanja preko e-pošte, vas prosimo, pošljite elektronsko pošto&nbsp;na&nbsp;<a href="mailto:contact@principle.network">contact@principle.network</a> in vaš e-poštni naslov bo izbrisan iz naše baze podatkov.</p>
                    <p><strong>1.2.1. Oznake pikslov</strong></p>
                    <p>Pridržujemo si pravico da lahko vstavimo oznake slikovnih pik (spletni svetilniki (web beacons) ali jasne GIF slike) na spletne strani, v oglase in v e-poštna sporočila.&nbsp;Te drobne, nevidne grafične datoteke se uporabljajo za dostop do&nbsp;piškotkov in spremljajo uporabnikove spletne dejavnosti (na primer, kolikokrat je stran vidna).&nbsp;Za merjenje priljubljenosti naših funkcij in storitev uporabljamo oznake pikslov. Oglaševalska podjetja uporabljajo tudi oznake slikovnih pik (pikslov) za merjenje števila prikazanih oglasov in njihove uspešnosti.</p>
                    <p><strong>1.2.2. Kako lahko dostopate do podatkov in jih popravljate </strong></p>
                    <p>Če imate&nbsp;Principle uporabniški račun, imate možnost pregledati in posodobiti svoje osebne podatke znotraj uporabe Storitev z vstopom v vaš uporabniški račun. Na podlagi nekaterih&nbsp;veljavnih zakonodaj s področja varovanja osebnih podatkov vam je lahko omogočena pravica do dostopa in/ali prošnje za&nbsp;odpravo napake ali pomanjkljivosti v vaših osebnih podatkih, ki so v naši posesti ali pod našim nadzorom.&nbsp;Mi&nbsp;vam bomo pomagali s prošnjo za dostop.</p>
                    <p>Na prošnje bomo odgovorili v času, ki ga dovoljuje veljavna zakonodaje s področja varovanja osebnih podatkov in si prizadevali, da bo odgovor karseda natančen in popoln.&nbsp;Vsi popravki osebnih podatkov bodo poslani vsaki organizaciji, kateri so bili razkriti.</p>
                    <p>V nekaterih izjemnih okoliščinah morda ne bomo mogli zagotoviti dostopa do določenih osebnih podatkov, ki jih imamo.&nbsp;Če dostopa ali popravkov ni mogoče zagotoviti, bomo o razlogih za zavrnitev pisno obvestili posameznika v roku 30 dni.</p>
                    <p><strong>1.2.3. Namen obdelave podatkov</strong></p>
                    <p>Ponudnik bo zbrane podatke o uporabnikih uporabljal izključno za naslednje namene:</p>
                    <ul>
                        <li>za zagotavljane storitev v skladu s Splošnimi pogoji uporabe;</li>
                        <li>vodenje evidence uporabnikov;</li>
                        <li>obveščanje o novostih oz. ponudbah Principle;</li>
                        <li>občasno pošiljanje e-sporočil (v kolikor se posameznik prijavi na prejemanje naših e-sporočil) z vsebino, povezano s spletnim mestom ter akcijskimi ponudbami, obvestili, članki, aktualnimi dogodki in ugodnostmi, ki jih ponuja Principle;</li>
                        <li>da vam dostavimo zahtevane naročene izdelke/informacije;</li>
                        <li>statistične, marketinške in druge analize ter raziskave v zvezi z uporabniki spletnega mesta, in sicer z namenom izboljšanja ponudbe ter storitev ponudnika;</li>
                    </ul>
                    <p><strong>1.3. Osebni podatki</strong></p>
                    <p>Vaše osebne podatke delimo z drugimi samo na način, kot je to opisano v tem pravilniku o zasebnosti, ali pa v primeru, ko vam sporočimo in vam damo možnost zavrnitve dajanja svojih osebnih podatkov v skupno rabo.&nbsp;Osebne podatke lahko delimo z:</p>
                    <p>–&nbsp;&nbsp;&nbsp;&nbsp; <strong>Ponudniki storitev</strong>. Podatke, vključno z osebnimi in finančnimi informacijami, lahko delimo s tretjimi osebami, ki v našem imenu izvajajo določene storitve.&nbsp;Te storitve lahko vključujejo izpolnjevanje naročil, nudenje storitev za stranke in pomoč pri trženju, izvajanje analize poslovanja in prodaje, spremljanje oglasov in analitike, pregledovanje članov, podporo naši storitveni funkcionalnosti ter podpiranje natečajev, nagradnih iger, anket in drugih funkcij, ki jih ponuja naša Storitev.&nbsp;Ti ponudniki storitev imajo lahko dostop do osebnih podatkov, ki so potrebni za opravljanje njihovih nalog, vendar jim ni dovoljeno deliti ali uporabljati takšnih osebnih podatkov za druge namene.</p>
                    <p>– &nbsp;&nbsp;&nbsp; <strong>Druge razmere. &nbsp;</strong>Vaše podatke, vključno z osebnimi podatki, lahko razkrijemo v naslednjih primerih:</p>
                    <p>–&nbsp;&nbsp;&nbsp;&nbsp; Na podlagi sodnega poziva ali podobne preiskovalne zahteve, sodne odredbe ali zahteve za sodelovanje s strani organa kazenskega pregona ali druge vladne agencije; za namen vzpostavitve ali uveljavljanja naših zakonskih pravic; za obrambo pred pravnimi zahtevki;&nbsp;ali če zakon zahteva drugače.&nbsp;V takih&nbsp;primerih lahko zahtevamo ali opustimo kakršnokoli pravno sredstvo, ki nam je na voljo;</p>
                    <p>– &nbsp;&nbsp;&nbsp; Kadar menimo, da je razkritje primerno v povezavi s prizadevanji za preiskavo, preprečevanje ali sprejetje drugih ukrepov v zvezi z nezakonito dejavnostjo, domnevnimi goljufijami ali drugimi kršitvami;&nbsp;zaradi zaščitite in obrambe pravic, lastnine ali varnosti našega podjetja, naših uporabnikov, naših zaposlenih ali drugih;&nbsp;za ravnanje v skladu z veljavno zakonodajo ali sodelovanju pri kazenskem pregonu;&nbsp;ali za uveljavljanje naših&nbsp;Splošnih pogojev&nbsp;ali drugih sporazumov ali pravilnikov;</p>
                    <p>– &nbsp;&nbsp;&nbsp; V povezavi z večjo korporativno transakcijo, kot je prodaja našega podjetja, odsvojitev, združitev, konsolidacija ali prodaja premoženja.</p>
                    <p><strong>1.4. Ne sledi (“Do Not Track”)</strong></p>
                    <p>Ne sledi (“DNT”) je nastavitev zasebnosti, ki jo uporabniki lahko nastavijo v svojih spletnih brskalnikih.&nbsp;DNT je način, s katerim lahko uporabniki obveščajo spletne strani in storitve, da ne želijo določenih informacij o svojih obiskih spletnih strani, zbranih skozi čas in preko spletnih strani ali spletnih storitev.&nbsp;Zavezani smo, da vam bomo zagotovili smiselne odločitve o podatkih, ki jih zbiramo, in zato nudimo zgoraj navedene povezave, pri katerih je možna zavrnitev.&nbsp;Vendar pa ne prepoznamo nobenih signalov DNT in ne odgovarjamo nanj, saj internetna industrija deluje tako, da natančno določi, kaj pomeni DNT, kaj pomeni skladnost z DNT, in skupen pristop k odzivu na DNT.</p>
                    <p><strong>1.5. Naša uporaba</strong>&nbsp;<strong>od vas zbranih podatkov</strong></p>
                    <p>Podatke, ki jih zberemo od vas uporabljamo za zagotavljanje in promoviranje naših Storitev, interno analizo in raziskave za izboljšanje Storitev.&nbsp;Strinjate se z zbiranjem, obdelavo in shranjevanjem podatkov, kot je navedeno v tem pravilniku o zasebnosti.&nbsp;Uporabljamo podatke, ki jih&nbsp;zberemo o vas ali vaši napravi za zagotavljanje&nbsp;storitev in za delovanje našega poslovanja.&nbsp;Takšna uporaba nas in naših partnerjev lahko vključuje:</p>
                    <ul>
                        <li>zagotavljanje naših storitev: razvijanje, izvajanje in izboljšanje naših proizvodov,&nbsp;storitev in vsebin, prilagajanje naših izdelkov in storitev, zagotavljanje posodobitev programske opreme in podporo za uporabnike, razumevanje in analizo trendov v zvezi z uporabo&nbsp;storitev in spletnih strani, upravljanje&nbsp;storitev&nbsp;in spletne strani ter komunikacije s strankami.Za informacije, ki jih v nekaterih zakonodajah lahko obravnavajo kot osebne podatke, uporabljamo samo identifikatorje naprav;</li>
                        <li>upravljanje vašega uporabniškega računa in zagotavljanje podporo strankam;</li>
                        <li>analize &nbsp;in raziskave: Razumevanje in analiziranje trendov v zvezi z uporabo&nbsp;Storitev in spletne strani, revizije, učenje o obnašanju uporabnikov v okviru&nbsp;Storitev (kako pogosto uporabljate&nbsp;Storitev/spletno stran, dogodki, ki se pojavijo v okviru&nbsp;Storitev, združene uporabe, podatki o uspešnosti itd), zbiranje demografskih podatkov o naših uporabnikih, zbiranje podatkov o tem, iz kje&nbsp;je&nbsp;bila&nbsp;storitev&nbsp;prenešena. Za informacije, ki jih v nekaterih zakonodajah lahko obravnavajo kot osebne podatke, uporabljamo samo identifikatorje naprav.&nbsp;Podatke, ki jih prejmemo od družbenih omrežij tretjih oseb uporabljamo za notranje&nbsp;analize;</li>
                        <li>komunikacije z vami po elektronski pošti, pošti, telefonu in/ali mobilnih napravah o izdelkih ali storitvah, ki so zanimivi za vas, bodisi pri nas ali tretjih&nbsp;oseb;</li>
                        <li>razvoj, prikazovanje in sledenje vsebine in oglaševanja, prilagojenim vašim interesom pri uporabi naših Storitev in drugih spletnih mestih, vključno z zagotavljanjem naših oglasov, ko obiščete druga spletna mesta;</li>
                        <li>uveljavljanje ali uresničevanje katerekoli pravice v našihSplošnih pogojih poslovanja;in</li>
                        <li>opravljanje funkcije ali Storitev, kot vam je sicer drugače predstavljeno pred zbiranjem.</li>
                    </ul>
                    <p>Za podrobno razlago o tem, kateri podatki se uporabljajo za kakšne namene in s katerimi partnerji glejte “Piškotki” del tega pravilnika o&nbsp;zasebnosti.</p>
                    <p><strong>1.6. Potisna obvestila</strong></p>
                    <p>Mi&nbsp;lahko&nbsp;uporabimo samo potisna obvestila, da vas obvestimo o vaših dejavnostih v okviru&nbsp;Storitev.&nbsp;Potisna obvestila boste prejeli le, če ste na njih naročeni oziroma, če ste jih omogočili znotraj uporabe Storitev. Od prejemanja se lahko odjavite v skladu&nbsp;z&nbsp;navodili za uporabo naprave.&nbsp;Žetone za potisna obvestila zbiramo z namenom ugotovitve ali ste naročeni na potisna obvestila.&nbsp;Ko se odločite, da se odjavite iz potisnih obvestil, bodo taki žetoni za obveščanje izbrisani iz naše zbirke podatkov.</p>
                    <p><strong>1.7. Shranjevanje informacij</strong></p>
                    <p>Podatke shranjujemo tako dolgo, kot je potrebno&nbsp;za zakonite poslovne namene, in kot je v skladu z veljavnimi zakonskimi zahtevami dovoljeno,&nbsp;da lahko uporabljate naše Storitve.</p>
                    <p>Uporabnik je seznanjen in soglaša, da ponudnik svoje podatke, ki mu jih je posredoval ob registraciji, hrani ves čas, ko ima uporabnik status registriranega uporabnika v aplikacijah ponudnika ali je naročnik e-novic in še eno leto po prenehanju tega statusa oz. preklicu prijave na e-novice. Ostale podatke lahko hrani, dokler je to nujno potrebno za dosego namena, za katerega so bili podatki zbrani, nato pa jih trajno izbriše ali učinkovito anonimizira, tako da določenega podatka ni več mogoče povezati z določenim uporabnikom, razen v primeru uporabnikove zahteve v skladu s točko 1.14.</p>
                    <p>Osebne podatke, ki jih zbiramo na podlagi izrecne privolitve posameznika, obdelujemo za namene, opredeljene s privolitvijo in hranimo do preklica privolitve.</p>
                    <p>Če zaprete svoj račun, bomo obdržali nekatere podatke za analitične namene in integriteto dokumentov ter za preprečevanje goljufij, uveljavljanje naših Splošnih pogojev,&nbsp;za uporabo ukrepov za katere menimo, da so potrebni za zaščito&nbsp;integritete naših storitev ali uporabnikov, ali za druge ukrepe, ki jih dovoljuje zakonodaja. Poleg tega, če so bile nekatere informacije že posredovane tretjim osebam, skladno s tem Pravilnikom o zasebnosti, za hranjenje teh podatkov veljajo pravila teh tretjih oseb.</p>
                    <p>Za varovanje osebnih podatkov je odgovoren tudi uporabnik sam, in sicer tako, da poskrbi za varnost svojega uporabniškega imena in gesla ter ustrezno programsko (protivirusno) zaščito svojega računalnika.</p>
                    <p><strong>1.7.1. Za države EU</strong></p>
                    <p>Osebne podatke hranimo dokler je to potrebno za zagotavljanje naših Storitev, razen če je daljše obdobje zahtevano ali dovoljeno z zakonodajo.&nbsp;Prometne informacije se izbrišejo ali postanejo anonimne, če niso več potrebne za prenos, ali v primeru plačljivih storitev do konca obdobja, v katerem je mogoče zakonito izpodbijati račun ali izvršiti plačilo.&nbsp;Podatki o lokaciji se shranijo v obsegu in trajanju, potrebnem za zagotavljanje Storitve z dodano vrednostjo.&nbsp;Piškotki, neposredno trženje in zagotavljanje informacij o storitvah z dodano vrednostjo (vključno s podatki o prometu, ki se uporabljajo za te namene), se hranijo, dokler je to potrebno za zagotavljanje teh dejavnosti ali do takrat, ko se uporabnik izogne takšni uporabi v skladu s tem Pravilnikom o zasebnosti. informacije se hranijo tako dolgo, kot menimo, da je to potrebno za zagotavljanje naših Storitev.&nbsp;Vsebina tega odstavka ne preprečuje tehničnega shranjevanja ali dostopa do informacij izključno za izvedbo prenosa sporočila ali če je to nujno potrebno, da bomo lahko zagotovili zahtevano storitev.</p>
                    <p>Shranjevanje je lahko drugačno, odvisno od ozemlja zbiranja podatkov in veljavne zakonodaje, vendar si vedno prizadevamo za shranjevanje podatkov samo toliko časa, kolikor je to potrebno za zagotavljanje, izboljšanje ali prilagajanje naših storitev.</p>
                    <p><strong>1.8. Brisanje informacij</strong></p>
                    <p>Ko podatki niso več potrebni so izbrisani z uporabo ustreznih ukrepov, da bi informacije zaščitili pred nepooblaščenim dostopom ali uporabo.</p>
                    <p><strong>1.9. Varstvo osebnih podatkov</strong></p>
                    <p>Vključili smo razumne varnostne ukrepe za zaščito zaupnosti, varnosti in celovitosti zbranih podatkov ter za preprečevanje nepooblaščenega dostopa in uporabe podatkov, ki so v nasprotju s tem pravilnikom o zasebnosti.&nbsp;Varstvo osebnih podatkov zagotavljamo v skladu s to politiko in z zahtevami za zavarovanje osebnih podatkov, ki jih določa zakonodaja Republike Slovenije (veljavni Zakon o varstvu osebnih podatkov, Uradni list RS, št. 94/07 s spremembami) in Splošno Uredbo GDPR. Čeprav si prizadevamo zagotoviti, da vaši podatki ostanejo varni med tem, ko jih posedujemo se zavedajte, da noben varnostni ukrep ni popoln ali varen pred vdori.&nbsp;Torej, čeprav si prizadevamo zagotoviti varnost vašim podatkom, ne obljubljamo in ne smete pričakovati, da bodo vaši osebni podatki, klepeti ali druga sporočila vedno ostali varni.&nbsp;Uporabniki morajo poskrbeti tudi za to, kako ravnajo in razkrivajo svoje osebne podatke, in se morajo izogibati pošiljanju osebnih podatkov prek nepreverjene elektronske pošte.</p>
                    <p>Strinjate se, da lahko komuniciramo z vami v elektronski obliki glede varnostnih, zasebnih in administrativnih vprašanj, kot so vdori varnosti.&nbsp;Obvestilo o vdoru lahko objavimo. Prav tako vam lahko pošljemo e-poštno sporočilo na e-poštni naslov, ki ste nam ga poslali.&nbsp;Morda&nbsp;imate&nbsp;zakonsko pravico do prejema tega obvestila v pisni obliki.&nbsp;Če želite prejeti brezplačno pisno obvestilo o kršitvi varnosti (ali če želite umakniti svoje soglasje od prejema elektronskih obvestila), nas o tem obvestite na <a href="mailto:contact@principle.network">contact@principle.network</a>.</p>
                    <p><strong>1.10. Celovitost osebnih podatkov</strong></p>
                    <p>Prizadevamo si, da so vaše informacije natančne, popolne in ažurne.&nbsp;Do nas lahko dostopate, preverjate in zagotavljate celovitost vaših podatkov, kot je opisano v tem pravilniku o zasebnosti.<strong>&nbsp;</strong></p>
                    <p><strong>1.11. Odjava</strong></p>
                    <p>Vedno imate možnost za odjavo od prihodnjega zbiranja osebnih podatkov s strani&nbsp;Principle v skladu s tem Pravilnikom o zasebnosti, tako da izbrišete uporabniški račun in prenehate z uporabo&nbsp;Storitev.<strong>&nbsp;</strong></p>
                    <p><strong>1.12. Piškotki</strong></p>
                    <p>Piškotek je del podatkov, ki so shranjeni na računalniku uporabnika in je povezan z informacijami&nbsp;o uporabniku.&nbsp;Večina brskalnikov vam omogoča, da onemogočite piškotke ali brskalnik nastavite tako, da vas opozori, ko se pošiljajo na vaš računalnik.&nbsp;Upoštevajte, da lahko odstranjevanje ali blokiranje piškotkov vpliva na uporabniško izkušnjo in morda boste morali ročno prilagajati nekatere nastavitve vsakič, ko obiščete našo spletno stran, nekatere funkcije pa morda ne bodo delovale.</p>
                    <p>Ko obiščete našo spletno stran,&nbsp;se strinjate,&nbsp;da&nbsp;lahko&nbsp;postavite&nbsp;piškotke na vašem računalniku, ki enolično identificira vaš brskalnik.&nbsp;Piškotke uporabljamo za izboljšanje kakovosti naših storitev, ki jih shranjujemo uporabniške nastavitve in sledenje podatkov o uporabi.&nbsp;Piškotke uporabljamo za zelo omejene&nbsp;namene.</p>
                    <p><strong>1.12.1. Piškotki Google Analytics</strong></p>
                    <p>Kot veliko število spletnih mest uporabljamo Google Analytics za merjenje uporabe naše spletne strani.&nbsp;Google Analytics uporablja piškotke za učinkovitejše sledenje posameznim uporabnikom spletnega mesta.</p>
                    <p>Ime piškotka&nbsp;&nbsp; Trajanje&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Google Analytics</p>
                    <p>__utma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 leti&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Uporablja se za razlikovanje uporabnikov; Google Inc.</p>
                    <p>__utmb&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 30 min&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Uporablja se za določitev seje; Google Inc.</p>
                    <p>__utmc&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ob zaprtju brskalnika &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Uporablja se za določitev seje; Google Inc.</p>
                    <p>__utmz&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6 mesecev&nbsp; &nbsp;&nbsp;&nbsp; Uporablja se za ugotavljanje vira Obiskovalcev; Google Inc.</p>
                    <p>_mauuid&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10 let&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uporablja se za razlikovanje uporabnikov; Net-Results</p>
                    <p>__atuvc&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 leta&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Uporablja se za razlikovanje uporabnikov; AddThis</p>
                    <p>Z vsemi zbranimi podatki na spletni strani razpolagamo v skladu z Zakonom o varstvu osebnih podatkov in Zakonom o elektronskih komunikacijah (ZEKom-1), vaših osebnih podatkov pa ne bomo prodajali ali dajali v najem tretjim osebam.</p>
                    <p><strong>1.14. Pravice uporabnikov / strank po splošni uredbi GDPR</strong></p>
                    <p>Kot uporabnik našega spletnega mesta ste tako seznanjeni, da lahko kadarkoli zahtevate, da vam:</p>
                    <ul>
                        <li>potrdimo, ali se podatki v zvezi z vami obdelujejo ali ne, in vam omogočimo vpogled v vaše osebne podatke, ki so vsebovani v zbirki osebnih podatkov ter njihovo prepisovanje ali kopiranje;</li>
                        <li>omogočimo vpogled v katalog zbirke osebnih podatkov oz. evidenco dejavnosti obdelave osebnih podatkov;</li>
                        <li>posredujemo izpis osebnih podatkov, ki so vsebovani v zbirki osebnih podatkov in se nanašajo na vas;</li>
                        <li>posredujemo seznam uporabnikov, katerim so bili posredovani osebni podatki, kdaj, na kakšni podlagi in za kakšen namen;</li>
                        <li>podamo informacijo o virih, na katerih temeljijo zapisi, ki jih o vas vsebuje zbirka osebnih podatkov, in o metodi obdelave;</li>
                        <li>podamo informacijo o namenu obdelave in vrsti osebnih podatkov, ki se obdelujejo, ter vsa potrebna pojasnila v zvezi s tem;</li>
                        <li>pojasnimo tehnične oziroma logično-tehnične postopke odločanja, v primeru izvajanja avtomatiziranega odločanja z obdelavo osebnih podatkov posameznika.</li>
                    </ul>
                    <p>Kot uporabnik našega spletnega mesta ste seznanjeni z dejstvom, da imate v skladu z veljavnim Zakonom o varstvu osebnih podatkov ter Splošno Uredbo GDPR še sledeče pravice:</p>
                    <ul>
                        <li>da se obdelava vaših osebnih podatkov omeji, kadar velja en od naslednjih primerov:</li>
                    </ul>
                    <p>– če oporekate točnosti podatkov (obdelava se omeji za obdobje, ki nam omogoča preveriti točnost osebnih podatkov);</p>
                    <p>– če je obdelava nezakonita in vi pa nasprotujete izbrisu vaših osebnih podatkov ter namesto tega zahtevate omejitev njihove uporabe;</p>
                    <p>– kot upravljavec osebnih podatkov ne potrebujemo več za dogovorjene namene obdelave, temveč jih vi, potrebujete za uveljavljanje, izvajanje ali obrambo pravnih zahtevkov;</p>
                    <p>– v primeru, da vložite ugovor v zvezi z obdelavo, dokler se ne preveri, ali zakoniti razlogi upravljavca prevladajo nad vašimi razlogi;</p>
                    <ul>
                        <li>da se vaši osebni podatki v naših zbirki popravijo (Principle je dolžan popraviti vaše netočne osebne podatke, prav tako pa imate (ob upoštevanju namenov obdelave), pravico do dopolnitve nepopolnih osebnih podatkov, vključno s predložitvijo dopolnilne izjave;</li>
                        <li>da se vaši osebni podatki izbrišejo (ter »Pozabijo«) – če več ne želite, da se vaši osebni podatki obdelujejo in ob pogoju, da ni zakonitih razlogov za njihovo nadaljnjo hrambo oz. obdelavo, lahko zahtevate, da se vaši podatki izbrišejo brez nepotrebnega odlašanja, in sicer kadar velja eden od naslednjih razlogov (razen zakonskih izjem):</li>
                    </ul>
                    <p>o vaši osebni podatki niso več potrebni za namene, za katere so bili zbrani ali kako drugače obdelani;</p>
                    <p>o prekličete privolitev, na podlagi katere poteka obdelava in kadar za obdelavo ne obstaja nobena druga pravna podlaga;</p>
                    <p>o ugovarjate obdelavi, pod pogojem, da za obdelavo ne obstajajo nobeni prevladujoči zakoniti razlogi, ali pa (kadarkoli) ugovarjate obdelavi kadar se osebni podatki obdelujejo za namene neposrednega trženja;</p>
                    <p>o vaši osebni podatki so bili obdelani nezakonito;</p>
                    <p>o vaše osebne podatke je treba izbrisati za izpolnitev pravne obveznosti v skladu s pravom RS;</p>
                    <p>o vaši osebni podatki so bili zbrani v zvezi s točno določeno ponudbo.</p>
                    <ul>
                        <li>da ste seznanjeni z rokom hrambe vaših osebnih podatkov;</li>
                        <li>da se zavedate, da imate pravico do pravnega sredstva – vložitve pritožbe;</li>
                        <li>da imate pravico do prenosljivosti osebnih podatkov (velja samo za osebne podatke, ki so obdelani avtomatizirano).</li>
                    </ul>
                    <p>Uporabnik lahko kadarkoli uveljavlja svoje pravice iz te točke&nbsp; (zahteva, pregled, dopolnitev, popravo ali izbris svojih osebnih podatkov oziroma prenehanje obdelave osebnih podatkov ipd.), po e-pošti na naslov contact@principle.network.</p>
                    <p>Te pravice vas ne odvežejo obveznosti, ki jih imate po Splošnih pogojih uporabe oziroma jih ima do vas sklenjena pogodba s Principle.</p>
                    <ol start="2">
                        <li><strong>Analitika</strong></li>
                    </ol>
                    <ul>
                        <li><strong>Google Analytics</strong></li>
                    </ul>
                    <p>Principle uporablja Google Analytics, orodje za spletno analitiko, ki pomaga&nbsp;Principle razumeti, kako uporabniki uporabljajo našo spletno stran, tako da bomo lahko pregledali in izboljšali naše Storitve.&nbsp;Google Analytics zbira informacije anonimno in&nbsp;zagotavlja poročilo&nbsp;Principle s trendi spletne strani brez prepoznavanja posameznih obiskovalcev.&nbsp;Spletno mesto je sledeno s pomočjo storitve Google Analytics v skladu s&nbsp;svojo politiko&nbsp;zasebnosti.&nbsp;Če ne želite, da podatki, ki jih Google Analytics uporablja, se lahko odločite preprečiti uporabo tako, da si namestite brskalni vmesnik Google Analytics opt&nbsp;–&nbsp;out.</p>
                    <ol start="3">
                        <li><strong>Tretje osebe</strong></li>
                    </ol>
                    <p>Zagotavljamo lahko povezave do&nbsp;spletnih strani&nbsp;ali storitev tretjih&nbsp;oseb na naši spletni strani ali v naši aplikaciji.&nbsp;Nismo odgovorni za prakse, ki jih uporabljajo spletne strani ali storitve, povezane z ali na&nbsp;spletni strani/v aplikaciji&nbsp;Principle,&nbsp;vključno z informacijami ali vsebinami, ki jih vsebuje.</p>
                    <p>Ne pozabite, da če uporabljate povezavo na&nbsp;spletni strani&nbsp;Principle ali znotraj Storitev, ki vas povežejo na drugo spletno mesto ali storitev,&nbsp;naš Pravilnik o&nbsp;zasebnosti&nbsp;ne velja za&nbsp;spletne strani ali storitve&nbsp;tretjih&nbsp;oseb.&nbsp;Vaše brskanje in interakcija na katerikoli&nbsp;spletni strani ali uporaba storitev&nbsp;tretjih&nbsp;oseb,&nbsp;vključno s tistimi, vezana na naše Storitve, so v skladu z njihovimi lastnimi politikami in pravilniki teh tretjih oseb.&nbsp;Nismo odgovorni za prakso varovanja osebnih podatkov ali vsebine teh&nbsp;spletnih strani&nbsp;tretjih oseb.</p>
                    <p>Ta pravilnik o zasebnosti ne ustvarja pravic, ki bi jih lahko uveljavljale tretje osebe. Prav tako ne ustvarja pravic, da bi tretje osebe lahko zahtevale razkritje kakršnihkoli osebnih podatkov v zvezi z uporabniki Storitev.</p>
                    <ol start="4">
                        <li><strong>Otroci</strong></li>
                    </ol>
                    <p>Naše storitve niso za uporabo&nbsp;za mladoletnike, mlajše od 18&nbsp;let. Zavestno ne zbiramo osebnih podatkov od oseb, mlajših od 18 let.&nbsp;V primeru, da bi izvedeli, da smo zbrali&nbsp;osebne&nbsp;podatke osebe, mlajšega od 18&nbsp;let,&nbsp;bomo takšne podatke izbrisali.</p>
                    <ol start="5">
                        <li><strong>Podpora</strong></li>
                    </ol>
                    <p>Če imate dodatna vprašanja ali kakršnekoli pomisleke glede zasebnosti in ste se že prijavili v&nbsp;Principle,&nbsp;je najboljši način za pridobitev odgovorov ta, da nas kontaktirate preko e-pošte na&nbsp;<a href="mailto:contact@principle.network">contact@principle.network</a>.</p>
                    <p>Če pošljete zahtevo za podporo, bomo morda prejeli vaš e-poštni naslov in druge podatke, ki jih navedete, povezane z vašo zahtevo za podporo (»Podatki o podpori«).&nbsp;Podatke o podpori uporabljamo le za podporo.&nbsp;Vašega e-poštnega naslova ne bomo izposodili, prodali ali delili, razen če imamo vaše izrecno soglasje in v naslednjih okoliščinah:</p>
                    <p>(i)&nbsp; &nbsp;Vaše podatke o podpori lahko delimo z našimi ponudniki podpore, vendar le z namenom zagotavljanja podpore.</p>
                    <p>(ii)&nbsp; &nbsp;Vaš e-poštni naslov in informacije o podpori lahko delimo z namenom uveljavljanja skladnosti z našimi sporazumi o licenčni pogodbi, uporabniških sporazumih, v primeru odgovora na zakonske zahteve in na zahtevo vladnih organov.</p>
                    <p>(iii)&nbsp; &nbsp;Vaš e-poštni naslov in informacije o podpori lahko delimo z pravnim naslednikom ali v povezavi z združitvijo, konsolidacijo in prodajo podjetij&nbsp;premoženja ali druge korporacijske reorganizacije, če je uporaba vašega e-poštnega naslova drugače v skladu s tem pravilnikom o zasebnosti.</p>
                    <ol start="6">
                        <li><strong>Spremembe tega pravilnika o zasebnosti</strong></li>
                    </ol>
                    <p>Ta pravilnik o zasebnosti lahko občasno spremenimo.&nbsp;Vse spremembe bodo navedene tukaj in spremenjena različica bo nadomestila to različico našega pravilnika o zasebnosti. Uporaba informacij, ki jih zbiramo, veljajo v skladu s pravilnikom o zasebnosti, ki velja v času, ko se te informacije zbirajo.&nbsp;Sprejeli bomo razumne ukrepe, da opozorimo na vse spremembe v našem Pravilniku o zasebnosti.&nbsp;Kljub temu, da je&nbsp;na&nbsp;varni strani, vam priporočamo, da si preberite ta dokument vsakič, ko uporabljate spletno stran, da se zagotovi, da se še vedno srečuje z vašo odobritev.</p>
                    <p>Če spremenimo način uporabe e-poštnega naslova, vas bomo vnaprej obvestili po elektronski pošti.&nbsp;Takšne spremembe bodo začele veljati na datum, naveden v elektronski pošti.</p>
                    <p>Za splošne&nbsp;ali informacije glede zasebnosti vas prosimo, da nas kontaktirate preko contact@principle.network.</p>
                    <p>Navipro d.o.o.</p>
                    <p>25.5.2018</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="social-wrapper">
            <div class="social-icon">
                <a href="http://t.me/PrincipleNetwork">
                    <img src="/assets/svg/tg.svg">
                </a>
            </div>
            <div class="social-icon">
                <a href="https://medium.com/principle">
                    <img src="/assets/svg/me.svg">
                </a>
            </div>
            <div class="social-icon">
                <a href="https://twitter.com/PrincipleNet">
                    <img src="/assets/svg/tw.svg">
                </a>
            </div>
            <div class="social-icon">
                <a href="https://www.facebook.com/PrincipleNetwork/">
                    <img src="/assets/svg/fb.svg">
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>