<!DOCTYPE html>
<html lang="sl-SI">
<head>
    <meta charset="UTF-8">
    <title>Pogoji uporabe</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link href="/assets/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>
<body>
<div id="app-2" class="terms-container">

    <div class="header">
        <div class="logo-wrapper">
            <a href="https://principle.network">
                <div class="logo">
                    <img src="/assets/svg/logo.svg">
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-md-center">
            <div class="col-lg-8 offset-lg-2">
                <div class="terms-text">
                    <div class="terms-back">
                        <a href="https://volitve.principle.network/">← Nazaj</a>
                    </div>
                    <p style="text-align: center"><strong>SPLOŠNI POGOJI UPORABE</strong></p>
                    <p><strong>Dobrodošli na</strong> <strong>Principle!</strong></p>
                    <p>Principle je aplikacija in spletna stran, razvita s strani podjetja Navipro d.o.o., s sedežem na Dunajski cesti 21, Ljubljana, Slovenija. <strong>(“Principle”, “Mi”, “nas” ali “naš”),</strong> ki ponuja svojim uporabnikom način da s konsenzom večine izbirajo svoje predstavnike. Principle protokol z uporabo konsenza na blockchainu raziskuje učinkovitejše načine potrjevanja odločitev ter reševanja sporov.</p>
                    <p>Zavedamo se pomena, ki ga ima posameznikovo zasebnost, zato smo zavezani k zagotavljanju najvišje kakovosti izdelkov ter spodbujanje zavedanja o pravicah glede osebnih podatkov. Da bi to dosegli, moramo vsi spoštovati naslednja pravila.</p>
                    <p>Ti Splošni pogoji uporabe (<strong>“Splošni pogoji”)</strong> tvorijo pravno zavezujoč sporazum med končnim uporabnikom teh storitev (“<strong>Vi”, “vaš”, “uporabnik” ali “uporabniki”)</strong> in Principle znotraj katerega je urejena vaša uporaba programske opreme ali vaš uporabniški račun na spletu ali brez njega, in zbirka storitev na voljo na naši spletni strani <a href="https://volitve.principle.network/">https://volitve.principle.network/</a> in v naši applikaciji in njenih posodobitvah na računalniku ali mobilni napravi, kot tudi s tem povezane storitve. (skupno <strong>“Storitve”</strong>) in vpliva na vaše pravice (“<strong>Sporazum</strong>“) ter zavezujejo vsakogar, ki se skladno s Splošnimi pogoji uporabe šteje za uporabnika, ter za celotno spletno mesto <a href="https://www.principle.network/">https://www.principle.network/</a>, za vse njegove sestavne dele in podstrani.</p>
                    <p>Prosimo da skrbno preberete te Splošne pogoje in naš pravilnik o zasebnosti ter druge pogoje, navedene v tem dokumentu, saj se morate z njimi strinjati in jih upoštevati preden lahko uporabite naše Storitve in ob vsaki uporabi le teh. Z DOSTOPOM ALI UPORABO KATEREGAKOLI DELA NAŠIH STORITEV IZKAZUJETE, DA SE STRINJATE S SPLOŠNIMI POGOJI, KAKOR TUDI Z DRUGIMI PRAVILNIKI, POLITIKAMI, POSTOPKI IN PRAVILI POVEZANIMI S STORITVAMI, KI JIH LAHKO OBČASNO OBJAVLJAMO.</p>
                    <p>Z namestitvijo in/ali uporabo Storitev se strinjate, da ste zavezani s Splošnimi pogoji v času veljavnosti teh Splošnih pogojev in dodatnih sporazumov.</p>
                    <p>Digitalno okolje in pravo, ki ga ureja, se pogosto spreminjata zato si pridržujemo pravico, da kadarkoli spremenimo te Splošne pogoje. Ko to storimo, vam bomo zagotovili vidno obvestilo, ki da ga bomo objavili na spletnem mestu. Vaš nadaljnji dostop ali kakršnakoli uporaba Storitev na kakršenkoli način pomeni privolitev in sprejem v obstoječe in nove pogoje, ki se lahko objavijo znotraj Storitev.</p>
                    <p>Storitve ponujena in pod nadzorom Principle iz svojih objektov v Sloveniji in podatki povezani s Storitvami domujejo v Sloveniji. Če dostopate do Storitev ali jih uporabljate iz drugih jurisdikcij, to delate na lastno odgovornost. Ne zagotavljamo, da so storitve ustrezne ali na voljo za uporabo na drugih lokacijah. Vi ste odgovorni za poznavanje in skladnost z veljavnimi zakoni. Če so ti zakoni v nasprotju z vašo uporabo Storitev, vam jih ni dovoljeno uporabljati.</p>
                    <p><strong>UPRAVIČENOST UPORABE</strong></p>
                    <p>Do določene mere, naše Storitve nudimo brezplačno. Vsaka oseba, ki uporablja storitve, zagotavlja, da je stara najmanj 18 let in je v celoti sposobna in upravičena za sprejemanje in upoštevanje Splošnih pogojev, obveznosti, izjav in jamstev, določenih v teh Splošnih pogojih. Storitev ne smete uporabljati, če ste bili obsojeni za zločin ali pa se morate registrirati ali vpisati v register kot spolni prestopnik v katerikoli jurisdikciji.</p>
                    <p>Registrirate se lahko z e-poštnim računom, ki vam omogoča, da vas obveščamo o vseh novostih glede naših storitev. Če to storite, zagotavljate, da so vsi podatki o registraciji so resnični in točni in da boste ohranili točnost takih informacij.</p>
                    <p><strong>VARNOST</strong></p>
                    <p>Čeprav si prizadevamo spodbujati spoštljivo uporabniško izkušnjo s funkcijami, kot so dvojno ujemanje, ki omogoča uporabnikom, da komunicirajo med sabo zgolj v primeru, če je zanimanje med uporabnikoma vzajemno, ne moremo in nismo odgovorni za ravnanje uporabnikov tako na spletu kakor tudi izven njega. Soglašate, da boste v vseh interakcijah z drugimi uporabniki previdni, zlasti če se boste odločili, da komunicirate z njimi izven okvira Storitev. Vaših finančnih podatkov (na primer etherem naslovu) ne smete posredovati drugim uporabnikom niti jim ne pošiljati denarja na kakršenkoli način.</p>
                    <p>PRINCIPLE NE DAJE NOBENIH ZAGOTOVIL ALI JAMSTEV GLEDE RAVNANJA SVOJIH UPORABNIKOV IN SI PRIDRŽUJE PRAVICO, DA OPRAVI PREGLED KAZENSKEGA OZADJA ALI KAKŠNOKOLI DRUG PREGLED SVOJIH UPORABNIKOV IZ JAVNO DOSTOPNIH EVIDENC.</p>
                    <p><strong>PRAVILA GLEDE VSEBIN, LICENCE IN INTELEKTUALNE LASTNINE</strong></p>
                    <ol>
                        <li><strong>VSEBINA</strong></li>
                    </ol>
                    <p>Vse gradivo, ki je na voljo preko naših storitev (v nadaljevanju <strong>“Vsebina”),</strong> ne glede na to ali je javno objavljeno ali zasebno preneseno, je varovano s pravicami intelektualne lastnine.</p>
                    <p>UPORABNIKI IN NE PRINCIPLE, SO ODGOVORNI ZA VSE VSEBINE, KI JIH DAJO NA VOLJO S POMOČJO NAŠIH STORITEV, VKLJUČNO, BREZ OMEJITEV, DA IMAJO VSEBINE V LASTI ALI SO ZA OBJAVO VSEBIN PRIDOBILI VSE POTREBNE PRAVICE INTELEKTUALNE LASTNINE IN DRUGE PRAVICE.</p>
                    <p>ODPOVEDUJETE SE VSEM LEGALNIM IN LEGITIMNIM PRAVICAM ALI POVRAČILNIM ZAHTEVKOM, KI JIH IMATE ZOPER NAS V ZVEZI Z VSEBINO, KI JE BILA OBJAVLJENA S STRANI DRUGIH UPORABNIKOV, VKLJUČUJOČ A NE OMEJENO NA NEPOOBLAŠČENO UPORABO VSEBINE ALI NEZAKONITO, OBREKLJIVO IN OBRAMBNO RAVNANJE S STRANI DRUGIH UPORABNIKOV.</p>
                    <p>Kljub temu, ko smo opozorjeni na morebitne kršitve posameznikovih pravic bomo hitro raziskali zadevo, ravnali v skladu z našim pravilnikom o pravicah <u>intelektualne lastnine </u>in sprejeli vse ukrepe, ki so v naši moči, da se prepreči nadaljnje kršitve. Vendar pa razumete in priznavate, da morda ne bomo mogli preverjati vsebine ali potrditi identitete domnevnih kršiteljev ali pritožnikov. Prav tako razumete in priznavate, da ne moremo zagotoviti, da se uporabniki ne predstavljajo kot nekdo drug ali na tak način, da ne kršijo pravic tretjih.</p>
                    <p>Z uporabo Storitev nam lahko posredujete podatke, ki so anonimizirani in  za katere nam dovoljujete dostop za vse informacije, ki jih objavljate ali posredujete (<strong>“Uporabniške informacije”</strong>). Z posredovanjem Uporabniških informacij preko naših Storitev, nam izrecno podeljujete, in jamčite, da imate pravico do podelitve, brezplačno, podlicencirajočo, prenosljivo, trajno, nepreklicno, neizključno, krajevno neomejeno licenco za uporabo, reprodukcijo predelavo, objavljanje, monetiziranje, seznanjanje, urejanje, prevajanje, distribucijo, javno izvajanje, javno prikazovanje in izdelavo izpeljanih del ter kako drugače izkoriščanje vseh takšnih Uporabniških informacij, v celoti ali deloma, in v katerikoli obliki, mediju in tehnologiji, zdaj znani, ali v nadaljevanju razviti za uporabo v povezavi s Storitvami in poslovanjem Principle (in njegovih naslednikov “in podružnic), vključno a neomejeno na promocijo in redistribucijo del ali vseh Storitev in aplikacije (in njihovih izpeljank), v vseh medijih in preko vseh medijskih zbirkah in v povezavi z različnimi oglasi, kot so spletni oglasi, oglasi za mobilne naprave in video oglasi.</p>
                    <p>Principle ne prevzema nobene odgovornosti za Uporabniške informacije. Vi ste izključno odgovorni za vase Uporabniške informacije tudi za posledice. Razumete in strinjate se da ste izključno Vi odgovorni, če kakršnakoli izguba ali škoda nastane zaradi uporabe katerekoli Uporabniške informacije, ki ste jo poslali, naložili, prenesli, pretakali (stream), objavili, prenesli, prikazali, delili ali kako drugače omogočili dostop z Vašo uporabo Storitev.</p>
                    <p>Razumete in se strinjate, da lahko spremljamo ali pregledujemo vse Uporabniške informacije, ki jih objavite kot del naših Storitev. Pridržujemo si pravico do izbrisa Uporabniških informacij v celoti ali deloma v kolikor po naši svobodni presoji krši Splošne pogoje ali škoduje ugledu Storitev.</p>
                    <p>Z Vašo oddajo predlogov ali povratnih informacij v zvezi z našimi storitvami, se strinjate, da lahko Principle uporabi in deli takšne podatke za kakršenkoli namen, brez dodatne kompenzacije.</p>
                    <p>Strinjate se, da lahko Principle dostopa, zaščiti in objavi informacije glede vašega uporabniškega računa, če to zahteva zakonodaja ali v dobri veri, da je tak dostop, zaščita ali razkritje razumno potreben, kot npr. za primer: (i) skladnosti s pravnimi postopki; (ii) uveljavljanja teh Splošnih pogojev; (iii) odgovora na trditve, da katerakoli vsebina krši pravice tretjih oseb; (iv) odgovora na vaše zahteve za pomoč strankam; ali (v) zaščiti pravic, premoženja ali osebne varnosti Principle ali katerekoli druge osebe.</p>
                    <ol start="2">
                        <li><strong>LICENCA –</strong><strong>VAŠE PRAVICE IN OMEJITVE</strong></li>
                    </ol>
                    <p>Skladno s Splošnimi pogoji, vam podeljujemo osebno, omejeno, krajevno neomejeno, neizključno, neprenosljivo licenco za čas trajanja teh Splošnih pogojev za uporabo naših Storitev, kakor tudi za dostop in nekomercialne, osebne uporabe Vsebine (<strong>»Licenca«).</strong></p>
                    <p>Strinjate se, da uporabljate naše Storitve in Vsebine zgolj za svojo osebno in nekomercialno uporabo in da ne boste uporabljali naših Storitev, Vsebine ali kateregakoli njihovega dela na kakršenkoli način, ki ni izrecno dovoljen v Splošnih pogojih in/ali v veljavni zakonodaji vključno a neomejeno na reproduciranje, kopiranje, spreminjanje, prilagajanje, ustvarjanje izvedenih del, objavljanje, tiskanje, prenašanje, razširjanje, prikazovanje, prodaja, licenciranje ali kako drugače prenašanje ter omogočanje nalaganja Vsebine z objavljanjem, pošiljanjem, pošiljanjem ali kako drugače; ter da ne bo neposredno ali posredno spodbudil, poučil ali dovolil katerikoli osebi, da to stori.</p>
                    <p>Naša programska oprema in Vsebina se zgolj licencira in ne prodaja, tako da mi in uporabniki ohranimo vse pravice, pravne naslove in pravice do udeležbe na vseh kopijah naših programskih aplikacij in na Vsebinah tudi po namestitvi na osebne elektronske naprave.</p>
                    <p>Ni dovoljeno obratno inženirstvo, razstavljanje, ali predelava naših Storitev, Vsebine ali kateregakoli njenega dela, ali izogibanje kakršnikoli tehniki, ki se uporablja za varovanje Storitev ali Vsebine, razen če to dovoljujejo veljavni predpisi.</p>
                    <p>Prav tako ne boste:</p>
                    <ul>
                        <li>posegali v pravilno delovanje Storitev, s kakršnimkoli dejanjem ki lahko bodisi nalaga ali nalaga nerazumno ali nesorazmerno veliko obremenitev na računalniški infrastrukturi, umetno povečuje število prenosov, zaobide ukrepe, ki jih lahko uporabljamo za preprečevanje ali omejevanje dostopa do Storitev in dostop do podatkov uporabnikov, ki bi lahko zbiramo ali drugače manipulirali Storitve z uporabo skript ali drugim avtomatiziranim postopkom;</li>
                        <li>predelovali, prilagajali ali vdirali v Storitve ali predelovali kake druge spletne strani da bi bila zmotno povezana z Principle;</li>
                        <li>uporabljali Storitev na način, ki je nezakonit, goljufiv ali zavajajoč;</li>
                        <li>distribuirali ali prenašali kakršnekoli kode, virusa ali katerekoli druge tehnologije, ali je že znana, ali bo šele razvita, ki utegne škodovati Storitvam ali uporabnikom;</li>
                        <li>ponovno prodajali, kopirali, prenašali, distribuirali, prikazovali, prevajali, predelovali Storitve ali izdelovali derivativna dela iz Storitev ali kateregakoli njenega dela;</li>
                        <li>uporabljali Storitve na način, ki uporablja ali začenja avtomatiziran sistem za dostop;</li>
                        <li>dajali podlicence, oddajali, zakupovali prenosa ali drugače distribuirali Storitev ali pravice za uporabo Storitev;</li>
                        <li>uporabljali Storitev, da na kakršenkoli način poskusite pridobiti nepooblaščen dostop do katerekoli storitve, podatkov, računa ali omrežja;</li>
                        <li>uporabljali Storitev na način, ki nadleguje, zlorablja, ogroža, obrekuje ali drugače krši ali krši pravice drugih oseb;</li>
                        <li>uporabljali Storitve na način, ki spodbuja vedenje, ki bi predstavljalo kaznivo dejanje, ali bi povzročilo civilno odgovornost.</li>
                    </ul>
                    <p>Ti Splošni pogoji vam ne dajejo upravičenja za pridobitev, in ne Nas obvezujejo da bi vam morali posredovati tiskano dokumentacijo, podporo, telefonsko pomoč, izboljšave ali posodobitve Storitev.</p>
                    <p>Mi lahko raziskujemo in sprejmemo vse razpoložljive pravne možnosti kot odgovor na nezakonito in/ali nepooblaščeno uporabo Storitev, vključujoč prekinitev veljavnosti Vašega uporabniškega računa.</p>
                    <ol start="3">
                        <li><strong>NAŠA INTELEKTUALNA LASTNINA</strong></li>
                    </ol>
                    <p>Razen če je izrecno navedeno drugače, vam Splošni pogoji vam ne dajejo nobenih pravic ali licenc v zvezi z našimi blagovnimi znamkami, domenami ali drugih značilnosti blagovne znamke, kot tudi v zvezi z našimi avtorskimi deli ali drugimi pravicami intelektualne lastnine, ne glede na to ali gre za komercialno ali nekomercialno uporabo.</p>
                    <ol start="4">
                        <li><strong>PRAVILNIK O INTELEKTUALNI LASTNINI</strong></li>
                    </ol>
                    <p>Resno se zavzemamo za pravice intelektualne lastnine in pričakujemo, da bodo drugi storili enako.</p>
                    <p>Za namene tega pravilnika “pravice intelektualne lastnine” pomenijo vse patentne pravice, trgovska imena, lastninske pravice, avtorske pravice, pravne naslove, računalniške kode, avdiovizualne učinke, teme, liki, imena likov, zgodbe, pogovor, glasbena dela, umetniške pravice, pravice do maske, zvočne učinke, moralne pravice, pravice do priobčitev javnosti, blagovne znamke, trade dress, storitvene znamke, dobro ime, pravice do poslovne skrivnosti in druge pravice intelektualne lastnine, ki lahko zdaj ali v prihodnosti obstajajo; njihove registracije, podaljšanja in podaljšanja, po zakonodaji katerekoli države, države, ozemlja ali druge jurisdikcije.</p>
                    <p>Če ste imetnik pravic intelektualne lastnine ali oseba, pooblaščena za ukrepanje v imenu lastnika in verjamete v dobri veri, da Vsebina, ki je na voljo prek Principle Storitev krši vaše pravice intelektualne lastnine, nam to sporočite. Pisno obvestilo o domnevni kršitvi avtorskih pravic oziroma kršitvi pravic intelektualne lastnine lahko pošljete na sledeči naslov:</p>
                    <p><strong>Navipro d.o.o.</strong></p>
                    <p>Dunajska cesta 21</p>
                    <p>1000 Ljubljana</p>
                    <ol start="5">
                        <li><strong>DOSTOP</strong></li>
                    </ol>
                    <p><strong> </strong>Na lastne stroške si morate zagotoviti opremo, internetne povezave in/ali storitev, ki načrtuje dostop in uporabo naših Storitev. Vi ste sami izključno odgovorni za morebitne stroške, ki bi jih imeli zaradi dostopa do naših Storitev. Vaša pravica za uporabo naših Storitev je odvisna tudi od Vaše skladnosti z vsemi splošnimi pogoji uporabe, ki ste jih sprejeli z uporabo Storitev.</p>
                    <ol start="6">
                        <li><strong>RAZPOLOŽLJIVOST STORITEV</strong></li>
                    </ol>
                    <p>Zaradi stalnega razvoja in rasti naših Storitev se lahko dostopnost Storitev spremeni. Trudili se bomo, da bodo naše Storitve vedno na voljo. Vendar pa ne moremo zagotoviti, da bodo storitve brez prekinitve nenehno na voljo.</p>
                    <p>Potrjujete in se strinjate, da se lahko oblika in narava Storitev občasno spremenita brez predhodnega obvestila. Prav tako se zavedate in se strinjate, da bodo morda Storitve začasno nedostopne zaradi vzrokov, ki so zunaj našega nadzora.</p>
                    <p>Za motnje dostopnosti naših Storitev iz zgoraj navedenih razlogov ne prevzemamo nobenih odgovornosti.</p>
                    <ol start="7">
                        <li><strong>ZASEBNOST</strong></li>
                    </ol>
                    <p>Varstvo zasebnosti uporabnikov je zelo pomembno. Vaše podatke uporabljamo le, kot je opisano v <u>pravilniku o zasebnosti,</u> <u>ki je sestavni del teh</u> <u>pogojev.</u></p>
                    <ol start="8">
                        <li><strong>TRAJANJE</strong></li>
                    </ol>
                    <p>Veljavnost Splošnih pogojev prične na dan, ko Vi pričnete z uporabo Storitve in prenehajo z dnem, ko jih po lastni volji prenehate uporabljati ali ko Mi prekinemo veljavnost Splošnih pogojev. S prenehanjem uporabe Storitev, za Vas Splošni pogoji ne veljajo več. V primeru Vaše krištve Splošnih pogojev, morate takoj po našem pozivu  prenehati z uporabo vseh naših Storitev. Sama prekinitev veljavnosti Splošnih pogojev ne omejuje nobenih Naših drugih pravic in upravičenosti do povračil po zakonu ali v kapitalu.</p>
                    <ol start="9">
                        <li><strong>GARANCIJA, ODPOVEDI,</strong><strong>IZKLJUČITVE</strong> <strong>IN OMEJITVE</strong></li>
                    </ol>
                    <p>PRIZADEVAMO SI, DA BI VAM PONUDILI NAJBOLJŠE STORITVE KOT JIH LAHKO, VSEENO PA SE STRINJATE, DA SO STORITVE PONUJENE “KOT SO” IN “KOT SO NA VOLJO” BREZ KAKRŠNIHKOLI IZRECNIH ALI POSREDNIH ZAGOTOVIL ALI KAKRŠNIHKOLI POGOJEV. MI NE JAMČIMO ALI ZAGOTAVLJAMO DA SPLETNA STRAN, VSEBINA, ALI VARNOST PRENOSA VSEBINE NA STRANI (I) NE BO PREKINJENA (II) NE BO BREZ HIB, NEPRAVILNOSTI ALI NAPAK (III) BO USTREZALA VAŠIM ZAHTEVAM (IV) BO DELOVALA Z NASTAVITVAMI ALI V POVEZAVI Z DRUGO PROGRAMSKO ALI RAČUNALNIŠKO OPREMO, KI JO UPORABLJATE. MI NE DAJEMO NOBENIH DRUGIH ZAGOTOVIL, KOT TISTIH, KI SMO JIH IZRECNO NAVEDLI V SPLOŠNIH POGOJIH IN ZAVRAČAMO VSA DRUGA ZAGOTOVILA, VKLJUČUJOČ A NEOMEJENO NA, ZAGOTOVILA O USTREZNOSTI ZA DOLOČEN NAMEN, PRIMERNOST ZA PRODAJO IN NE KRŠENJE PRAVIC TRETJIH.</p>
                    <p>STORITVE UPORABLJATE NA VAŠE LASTNO TVEGANJE. DO NAJVEČJE MERE, KI JO DOVOLJUJEJO VELJAVNI PREDPISI MI IN VSI LASTNIKI VSEBINE NE PREDSTAVLJAMO IN ZAVRAČAMO KAKRŠNAKOLI ZAGOTOVILA ALI POGOJE O NE-KRŠITVI PRAVIC DRUGIH.</p>
                    <p>DO NAJVIŠJE MOŽNE MERE, KI JO DOVOLJUJEJO VELJAVNI PREDPISI, NE JAMČIMO, DA SO STORITVE PROSTE ZLONAMERNE PROGRAMSKE OPREME ALI DRUGE NEVARNIH KOMPONENT IN NE ZAGOTAVLJAMO ALI PREDSTAVLJAMO, PRIPOROČAMO, GARANTIRAMO ALI PREVZEMAMO ODGOVORNOST ZA KATEROKOLI STORITEV TRETJE OSEBE (ALI NJENE VSEBINE) UPORABNIŠKE VSEBINE ALI KAKRŠENKOLI DRUGEGA PRODUKTA ALI STORITVE KI SO OGLAŠEVANE ALI PONUJENE S STRANI TRETJIH OSEB NA ALI V POVEZAVI Z NAŠIMI STORITVAMI ALI S POVEZAVAMI NA DRUGE SPLETNE STRANI IZ NAŠIH STORITEV ALI ČE SO VKLJUČENE V KAKRŠENKOLI DRUG PROMOCIJSKI MATERIAL. RAZUMETE IN STRINJATE SE Z DEJSTVOM, DA NISMO ODGOVORNI ZA KAKRŠNEKOLI TRANSAKCIJE MED VAMI IN PONUDNIKI APLIKACIJ, DOBRIN IN STORITEV, KI SO OGLAŠEVANI ZNOTRAJ NAŠIH STORITEV. NOBEN NASVET ALI INFORMACIJA, KI VAM JO POSREDUJEMO BODISI USTNO ALI PISNO NE USTVARJA KAKRŠNIHKOLI ZAGOTOVIL Z NAŠE STRANI V ZVEZI Z PODANIM NASVETOM ALI INFORMACIJO. NEKATERI DELI TEGA ODSTAVKA MORDA V KAKŠNIH JURISDIKCIJAH NISO DOVOLJENI.</p>
                    <p>STRINJATE SE, DO NAJVIŠJE MERE, KI JO DOVOLJUJEJO VELJAVNI PREDPISI, DA JE VAŠE EDINO POVRAČILO ZA KAKRŠNEKOLI TEŽAVE ALI NEZADOVOLJSTVO S STORITVAMI, PRAVICA DA ODSTRANITE VSO NAŠO PROGRAMSKO OPREMO IN PRENEHATE UPORABLJATI NAŠE STORITVE. MEDTEM KO MI NE SPREJEMAMO NOBENE ODGOVORNOSTI ZA STORITVE TRETJIH OSEB ALI NJIHOVE VSEBINE, IN VAŠE ODNOSE S TRETJIMI OSEBAMI UREJAJO DRUGI DOGOVORI, JE VAŠE EDINO POVRAČILO, DO KATEREGA STE UPRAVIČENI TO, DA ODSTRANITE NJIHOVO PROGRAMSKO OPREMO IN/ALI PRENEHATE UPORABLJATI NJIHOVE STORITVE.</p>
                    <p>DO NAJVEČJE MERE, KI JO DOVOLJUJEJO VELJAVNI PREDPISI MI, NAŠI ZAPOSLENI, DRUŽBENIKI, POOBLAŠČENCI, DIREKTORJI, NAŠE HČERINSKE DRUŽBE, PODRUŽNICE, PRAVNI NASLEDNIKI, ASIGNATORJI, DOBAVITELJI ALI PODELJEVALICI LICENC(“OŠKODOVANCI), NE ODGOVARJAMO ZA:</p>
                    <p>(1) KAKRŠNOKOLI POSREDNO, NEPOSREDNO, POSEBNO, NAKLJUČNO, KAZENSKO OBVEZNO ALI POSLEDIČNO ŠKODO; (2) KAKRŠNOKOLI IZGUBO PODATKOV, POSLOVNO IZGUBO ALI IZGUBO DOBIČKA (POSREDNO ALI NEPOSREDNO), KI IZHAJA IZ VSEH PRIMEROV NEZMOŽNOSTI UPORABE NAŠIH STORITEV, UPORABE APLIKACIJ TRETJIH OSEB, ALI VSEBIN, NE GLEDE NA PRAVNO RAZLAGO IN NE GLEDE NA TO, ALI SMO BILI OPOZORJENI NA MOŽNOST TAKŠNE ŠKODE IN TUDI ČE TAKO POVRAČILO NE USTREZA SVOJEMU OSNOVNEMU NAMENU; (3) KAKRŠNOKOLI OSEBNO POŠKODBO IN/ALI ŠKODO NA PREMOŽENJU ALI (4) SKUPNO ODGOVORNOST ZA VSE ZAHTEVKE GLEDE NAŠIH STORITEV, APLIKACIJ TRETJIH OSEB, ALI VSEBINE APLIKACIJ TRETJIH OSEB V VIŠJEM ZNESKU KOT STE GA NAM PLAČALI VI V OBDOBJU VEČ KOT DVANAJST MESECEV, V NAJVEČJEM MOŽNEM OBSEGU, KI GA DOVOLJUJEJO VELJAVNI PREDPISI.</p>
                    <p>TO NE VPLIVA NA VAŠE ZAKONSKE PRAVICE, KI JIH IMATE KOT POTROŠNIK.</p>
                    <ol start="10">
                        <li><strong>ODŠKODNINA</strong></li>
                    </ol>
                    <p>V NAJVEČJEM MOŽNEM OBSEGU, KI GA DOVOLJUJEJO VELJAVNI PREDPISI SE STRINJATE, DA BOSTE POVRNILI ŠKODO, ZAGOVARJALI NJIHOVO STALIŠČE IN ODVEZALI ODGOVORNOST VSEM OŠKODOVANCEM PROTI VSEM ODŠKODNINAM, IZGUBAM IN STROŠKOM V KAKRŠNIKOLI OBLIKI (VKLJUČUJOČ RAZUMNE ODVETNIŠKE STROŠKE), KI BI IZHAJALI IZ ZAHTEVKOV ALI BILI POVEZANI Z ZAHTEVKI, IZ ZAHTEV ALI DEJANJ VLOŽENIMI ALI UPERJENEMI ZOPER OŠKODOVANCE: (1) KI BI IZVIRALE IZ OBTOŽUJOČIH DEJSTEV, KI VAS BREMENIJO KRŠITEV SPLOŠNIH POGOJEV; (2) KI BI IZHAJALE IZ VAŠE UPORABNIŠKE VSEBINE ALI V POVEZAVI Z NJO ALI KAKRŠNEKOLI DRUGE AKTIVNOSTI, V KATERI STE BILI UDELEŽENI V ZVEZI Z NAŠIMI STORITVAMI IN (3) VAŠE KRŠITVE VELJAVNIH PREDPISOV ALI KRŠITVAMI PRAVIC TRETJIH OSEB.</p>
                    <p>STRINJATE SE, DA KRŠITEV TEH SPLOŠNIH POGOJEV USTVARJA NEPOPRAVLJIVO ŠKODO NAM, ZA KATERO SAMO DENARNO NADOMESTILO NE BI BILO DOVOLJ, ZATO SMO UPRAVIČENI DO PRAVIČNEGA NADOMESTILA, DODATNO K NADOMESTILU, KI JE OMENJEN ZGORAJ ALI PO ZAKONU, BREZ OBVEZNICE, DRUGEGA FINANČNEGA INSTRUMENTA ALI DOKAZA O ŠKODI.</p>
                    <ol start="11">
                        <li><strong>SPLOŠNO</strong></li>
                    </ol>
                    <p><strong>11.1.</strong> <strong>Obseg</strong></p>
                    <p>Splošni pogoji vsebujejo vse poglavitne pogoje in urejajo razmerje med Nami in našimi uporabniki</p>
                    <p><strong>11.2.</strong> <strong>Interpretacija</strong></p>
                    <p>Naslovi so tukaj samo z namenom navedbe in ne omejujejo obsega ali širine odstavkov, tako da v nobenem primeru ne vplivajo na interpretacijo vsebine.</p>
                    <p><strong>11.3.</strong> <strong>Prenehanje in preživetje</strong></p>
                    <p>Pogodbeno razmerje lahko kadarkoli prekinete tako, da odstranite vso našo programsko opremo in prenehate z uporabo naših Storitev.</p>
                    <p>Mi lahko odpovemo pogodbeno razmerje in prenehamo z nudenjem naših Storitev, če tako zahteva katerikoli veljavni predpis ali zaradi tehnične ali ekonomske nezmožnosti.</p>
                    <p>Pred našo odpovedjo pogodbenega razmerja vas bomo izrecno obvestili.</p>
                    <p>Naslednji oddelki preživijo prenehanje veljave Splošnih pogojev:</p>
                    <p>Vsebina, Licenca – vaše pravice in omejitve, Garancija, odpovedi, izključitve in omejitve, Odškodnina, Reševanje sporov in Veljavno pravo.</p>
                    <p><strong>11.4.</strong> <strong>Neodvisnost določb</strong></p>
                    <p>Če je katerakoli določba Splošnih pogojev neveljavna ali neizvršljiva, iz kateregakoli razloga in do katerekoli obsega, se taka določba ne upošteva, ostale določbe pa se ostanejo v veljavi v največjem obsegu, ki ga dovoljujejo veljavni predpisi.</p>
                    <p><strong>11.5.</strong><strong> Veljavno pravo</strong></p>
                    <p>Splošni pogoji so urejeni, se tolmačijo in izvršujejo v skladu s slovensko zakonodajo, ne glede na kolizijske norme.</p>
                    <p><strong>11.6.</strong> <strong>Reševanje sporov</strong></p>
                    <p>Razen če v Splošnih pogojih ni drugače določeno, se vsak zahtevek ali nasprotje med Nami in Uporabniki, ki izhajajo iz ali so v zvezi s Splošnimi pogoji (vključno nastanek, tolmačenje, učinkovitosti in kršitev) rešujejo z arbitražo v skladu z arbitražnimi pravili Ljubljanske arbitraže pri Gospodarski zbornici Slovenije.</p>
                    <p>Stroški in odhodki za arbitražni postopek iz prejšnjega odstavka se razdeli med strankami glede na uspeh v arbitražnem postopku</p>
                    <p>Razen če ni drugače pisno dogovorjeno, da se vsak spor, ki izhaja iz Splošnih pogojev izvaja v slovenskem jeziku v Ljubljani.</p>
                    <p><strong>11.7.</strong> <strong>Opustitev</strong></p>
                    <p>Kakršnakoli neizponlitev ali zamuda za izvedbo oziroma izvršitev katerekoli pravice znotraj Splošnih pogojev z naše strani v nobenem primeru ne ustvarja opustitve teh določb ali pravic, ki iz njih izhajajo.</p>
                    <p><strong>11.8.</strong> <strong>Celoten dogovor</strong></p>
                    <p>Razen v kolikor je to navedeno v Splošnih pogojih, ali kot je izrecno dogovorjeno v pisni obliki med Vami in Nami, pravilnik o zasebnosti in Splošni pogoji ustvarjajo in urejajo vse dogovorjene pogoje in nasledijo vsa nedosledna zagotovila, prejšnje dogovore v povezavi z vsebino Splošnih pogojev, ne glede na to ali so bili dogovorjeni ustno ali pisno.</p>
                    <p>Prosimo, upoštevajte dejstvo, da so lahko druga področja Vaše uporabe Storitev urejena z dodatnimi sporazumi, kot so npr., sporazumi, ki urejajo Vaše brezplačne ali znižane preskusne različice naših Storitev ali funkcionalnosti v Storitvah. Dodatni sporazumi prevladajo do te mere, da ne pride do nezdružljivosti nasprotij med kakršnimikoli dodatnimi pogoji in Splošnim pogoji.</p>
                    <p>Navipro d.o.o.</p>
                    <p>Franci Zidar</p>
                    <p>Director</p>
                    <p>25.5.2018</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="social-wrapper">
            <div class="social-icon">
                <a href="http://t.me/PrincipleNetwork">
                    <img src="/assets/svg/tg.svg">
                </a>
            </div>
            <div class="social-icon">
                <a href="https://medium.com/principle">
                    <img src="/assets/svg/me.svg">
                </a>
            </div>
            <div class="social-icon">
                <a href="https://twitter.com/PrincipleNet">
                    <img src="/assets/svg/tw.svg">
                </a>
            </div>
            <div class="social-icon">
                <a href="https://www.facebook.com/PrincipleNetwork/">
                    <img src="/assets/svg/fb.svg">
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>